body {background-color:black; color:white; font-family:Arial;}
h1{color:grey;font-family:Verdana}

.maindiv{
    background-color:white;
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center
}


